@import '_reset';

$gr: 1.61803398875;

$unit: 12px;
$unitgr: $unit * $gr;

$tint: #222233;
$tnit: #cccccc;

$levels: (
  'debug':    #cecece,
  'info':     #76d9f7,
  'notice':   #4aa7c4,
  'warning':  #eded09,
  'error':    #ed9d09,
  'critical': #ed1c09,
  'alert':    #ed3dcc,
);

* {
  box-sizing: border-box;
}

html, body, .nn--workspace {
  height: 100%;
}

body {
  font-family: PragmataPro, 'DejaVu Sans Mono', monospace;
  -webkit-font-smoothing: none;
}

.nn--workspace {
  display: flex;
  flex-direction: column;
  > .-main {
    display: flex;
    flex: 1;
    > .nn--bookmark-list { flex: 0 0 240px; }
    > .nn--search        { flex: 1; }
  }
}

.nn--status-bar {
  font-size: $unit;
  line-height: $unitgr;

  background: $tint;
  color: $tnit;

  display: flex;
  > * { flex: 1; }

  > * {
    padding: $unit / 2;
    text-align: center;
  }

  @each $level, $level-tint in $levels {
    > .-#{$level}-rate {
      background: rgba($level-tint, 0.5);
    }
  }

  > .-overall-emergency {
    background: red;
    color: white;
    font-weight: bold;
  }
}

.nn--bookmark-list {
  background: $tint;

  overflow: auto;

  > li {
    > .-group,
    > ul > li { padding: $unit / 2; }
  }

  > li > ul > li {
    cursor: pointer;
    -webkit-user-select: none;
  }

  > li {
    font-size: $unit;
    line-height: $unitgr;
  }

  > li {
    background: lighten($tint, 5%);
    color: $tnit;
    font-weight: bold;
    > ul > li {
      font-weight: normal;
      &:hover { background: lighten($tint, 10%); }
    }
  }
}

.nn--search {
  background: $tint;
  color: $tnit;

  > table {
    width: 100%;

    > tbody > tr {
      @each $level, $level-tint in $levels {
        &.-#{$level} {
          background: rgba($level-tint, 0.5);
          &:hover { background: rgba(darken($level-tint, 10%), 0.5); }
        }
      }

      > td {
        font-size: $unit;
        line-height: $unitgr;

        &.-fields {
          > span {
            &:not(:last-child) { margin-right: $unit; }
            > .-key, > .-val { padding: 0 $unit / 2; }
            > .-key {
              background: rgba(black, 0.5);
              border-top-left-radius: $unitgr;
              border-bottom-left-radius: $unitgr;
            }
            > .-val {
              background: rgba(black, 0.25);
              border-top-right-radius: $unitgr;
              border-bottom-right-radius: $unitgr;
            }
          }
        }
      }
    }
  }
}
